dist: bionic
language: haskell
ghc: 8.6

env:
  - LUA=5.3 LUAROCKS=3.0
  - LUA=5.4 LUAROCKS=3.0

cache:
  directories:
  - $HOME/.ghc
  - $HOME/.cabal

before_install:
  - pip install --user hererocks
  - hererocks env --lua $LUA --luarocks $LUAROCKS
  - source env/bin/activate
  - luarocks install busted
  - cabal install hspec lsp-test

install:
  - luarocks make digestif-dev-1.rockspec

script:
  - busted --exclude-tags=ctx
  - runhaskell spec/test-lsp.hs
