appdirs==1.4.4
attrs==22.2.0
cattrs==22.2.0
exceptiongroup==1.1.0
iniconfig==2.0.0
lsprotocol==2022.0.0a10
packaging==23.0
pluggy==1.0.0
pygls==1.0.1
pytest==7.2.1
pytest-asyncio==0.20.3
pytest-lsp==0.2.1
tomli==2.0.1
typeguard==2.13.3
