name: Test

on: [push]

env:
  PIP_PROGRESS_BAR: "off"

jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        lua-version: ["5.3", "5.4"]
        json-library: ["builtin", "cjson"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install readline
      run: sudo apt-get update && sudo apt-get install -y libreadline-dev
    - name: Install dependencies
      run: |
        pip install hererocks==0.25.1 -r spec/requirements.txt
        hererocks .venv --lua ${{ matrix.lua-version }} --luarocks latest
        source .venv/bin/activate
        luarocks install busted
        if [ ${{ matrix.json-library }} == "cjson" ]; then luarocks install lua-cjson; fi
    - name: Make rock
      run: |
        source .venv/bin/activate
        luarocks make digestif-dev-1.rockspec
    - name: Busted
      run: |
        source .venv/bin/activate
        busted --exclude-tags=ctx
    - name: Integration tests
      run: |
        source .venv/bin/activate
        pytest spec
